@import url(https://unpkg.com/@webpixels/css@1.0/dist/index.css);

.logo_nav {
    height: 4rem !important;
}

.nlink{
    color: #fff;
    font-weight: bolder !important;
}

body section {
    width: 100% !important;
    height: 100% !important;
}

body, html {
    height: 100% !important;
    padding: 0;
    margin: 0;
    scroll-padding-top: 3.5rem;
}

/* header {
    padding-top: 5.5rem;
    padding-bottom: 6rem;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
} */

.home_section {
    background-color: #000;
    color: #fff;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 600px !important;
}

/* .home_section > img {
    width: 100% !important;
    height: 600px !important;
}

@media only screen and (min-width: 768px) {
    .home_section > img {
        height: 965px;
    }
} */

#nbar {
    height: 100px !important;
}

.hs_text_1 {
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 45%;
    font-weight: bolder;
    word-wrap: break-word;
    width: 700px;
    margin-left: 10px;
    opacity: 75%;
}

.hs_text_def_1 {
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    word-wrap: break-word;
    width: 550px;
    margin-left: 10px;
    opacity: 75%;
}

.hs_text_2 {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 15%;
    font-weight: bolder;
    word-wrap: break-word;
    width: 700px;
    text-align: right;
    padding-right: 10px;
    opacity: 75%;
    right: 0;
}

.hs_text_def_2 {
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 34%;
    word-wrap: break-word;
    width: 700px;
    text-align: right;
    padding-right: 10px;
    opacity: 75%;
    right: 0;
}

.bg-product {
    background-color: #FFF78A !important;
}

.text-footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonTop {
    display: inline-block;
    background-color: #16192c !important;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 100px;
    right: 30px;
    transition: background-color .3s,
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#buttonTop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#buttonTop:hover {
    cursor: pointer;
    background-color: #333;
}

#buttonTop:active {
    background-color: #555;
}

#buttonTop.show {
    opacity: 1;
    visibility: visible;
}

@media (min-width: 500px) {
    #buttonTop {
        margin: 30px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    min-height: 98vh;
    /*background-image: linear-gradient(-225deg, #1e3c72 0%, #2a5298 50%, #00c6ff 100%);*/
    background-color: #000 !important;
}

.scroll-list {
    width: 100%;
    max-width: 1366px;
    padding: 25px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 768px) {
    .scroll-list {
        margin-top: 20px;
    }
}

.scroll-list__wrp {
    width: 100%;
    height: 700px;
    overflow: auto;
    padding: 50px;
    box-shadow: 0px 7px 46px 0px rgba(0, 0, 0, 0.3);
    /*background: #1c2e4a;*/
    background-color: #FF2A00 !important;
    border-radius: 8px;
    /*background-image: linear-gradient(147deg,#2e3a59 0%, #1a2b46 74%);*/
}


.scroll-list__wrp .scrollbar-track {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .scroll-list__wrp {
        padding: 25px;
    }
}

.scroll-list__item {
    width: 100%;
    height: 155px;
    display: block;
    margin-bottom: 15px;
    border-radius: 8px;
    /*background-image: linear-gradient(147deg, #4a90e2 0%, #0072ff 74%);*/
    background-color: #CFCCCC;
    transition: all 0.35s ease-in-out;
    opacity: 0;
    transform: scale(0.7);
    box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.2);
}

.scroll-list__item.item-hide {
    opacity: 0;
    transform: scale(0.7);
}

.scroll-list__item.item-focus {
    opacity: 1;
    transform: scale(1);
}

.scroll-list__item.item-next {
    opacity: 1;
    transform: scale(1);
}

.scroll-list__item.item-next+.scroll-list__item {
    opacity: 1;
    transform: scale(1);
}

.scroll-list__item:last-child {
    margin-bottom: 155px;
}

.sitem {
    width: 120px;
    height: 120px;
}

.b-slider {
  background-color: #f7f7f7;
  overflow-x: hidden;
  min-width: 100%;
  outline: 0;
  &:hover {
    .b-slider__img {
      filter: grayscale(1) contrast(0) blur(1px);  
    }
  }
  &__slide {
    text-align: center;
    width: 30rem;
    height: 8rem;
    display: flex;
    align-items: center;
  }
  &__ref {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover .b-slider__img {
      filter: unset;
    }
  }
}

@media screen and (max-width: 767px) {
  .b-slider {
    &__slide {
      text-align: center;
      width: 20rem;
      height: 8rem;
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 556px) {
  .b-slider {
    &__slide {
      text-align: center;
      width: 15rem;
      height: 8rem;
      display: flex;
      align-items: center;
    }
  }
}

.card {
  width: 300px;
  min-width: 300px;
  height:auto;
  background:#fff;
  border-radius:30px;
  position:relative;
  z-index:10;
  margin:25px;
  min-height:356px;
  cursor:pointer;
  transition: all .25s ease;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0, .08);
}

.card:hover {
  transform:translate(0, -10px);
  box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}

.card h4 {
  position:absolute;
  left: 0;
  top: 0;
  padding: 15px;
}

.card i {
  position:absolute;
  right: 0;
  top: 0;
  padding: 15px;
  font-size:1.4rem;
  line-height:3.2rem;
}

.card .card-text {
  padding: 20px;
}

p {
  font-size: .8rem;
  opacity: .6;
  margin-top: 10px;
}

.card .card-img {
  transform: translate(10px,-10px);
  margin: 0;
  display:flex;
  align-items: center;
  justify-content:center;
  transition: all .35s ease-out;
}

.card img {
  height:250px;
}

.card img.blur {
  position:absolute;
  filter:blur(35px);
  z-index:-1;
  opacity:.40;
  transform: translate(-160px,30px);
  transition: all .35s ease-out;
}

.card:hover .card-img {
  transform:translate(30px,-15px);
}

.card:hover .card-img img.blur {
  transform:translate(-100px,35px) scale(.85);
  opacity:.25;
  filter:blur(35px);
}

.card-content {
  display:flex;
  align-items:center;
  justify-content:flex-start;
  width:100%;
  overflow:auto;
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 50px;
  scroll-behavior:smooth;
}

.card-content::-webkit-scrollbar {
   height:0px;
}

.card-content:after {
  content:'';
  display:block;
  min-width:20px;
  height:100px;
  position:relative;
}

.btn{
  min-width:60px;
  margin: auto 30px;
  height:60px;
  border-radius:20px;
  background:#fff;
  border:0px;
  outline:none;
  cursor:pointer;
  z-index:9999;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,.08);
  transition: all .25s ease;
}

.btn:hover{
  box-shadow: 0px 17px 35px 0px rgba(0,0,0,.07);
}

.btn i {
  font-size:1.2rem;
}

.slider {
  display:flex;
  align-items:center;
  justify-content:center;
  background:rgb(242,243,248);
  width:100%;
  height:80vh;
  overflow:hidden;
}

.slider:after {
  content:'';
  left:98px;
  height:80vh;
  position:absolute;
  width:150px;
  z-index:100;
  background: linear-gradient(90deg, rgb(242,243,248) 0%,rgba(242,243,248,0)  100%);
  pointer-events:none;
}

.slider:before {
  content:'';
  right:98px;
  height:80vh;
  position:absolute;
  width:150px;
  z-index:100;
  background: linear-gradient(90deg, rgba(242,243,248,0) 0%,rgba(242,243,248,1)  100%);
  pointer-events:none;
}

.pgtop {
    width: 100%;
    height: 100vh !important;
}

.btnShop {
  border: none;
  width: 9em;
  height: 3em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1C1A1C;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #AAAAAA;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #AAAAAA;
  font-size: medium;
}

.btnShop:hover {
  background: linear-gradient(0deg,#A47CF3,#683FEA);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
  inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
  0px 0px 0px 4px rgba(255, 255, 255, 0.2),
  0px 0px 180px 0px #9917FF;
  transform: translateY(-2px);
}

.btnShop:hover .text {
  color: black;
}

.btnShop:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}

.sec-navbar {
  background-color: #000 !important;
}

/* From Uiverse.io by Yaya12085 */ 
.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  outline: 0;
  transition: all  .2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: transparent;
  color: #fff;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-2 {
  font-weight: 600;
}